<!-- templates/index.html -->

{% extends "_base.html" %}

{% block content %}
{% load humanize %}

<div class="container mx-auto mt-4">
    

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Product
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Seat
                </th>
                <th scope="col" class="px-6 py-3">
                    Order date
                </th>
            </tr>

        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ transaction.product.name }}
                </th>
                <td class="px-6 py-4">
                    {{ transaction.product.categoryId.name }}
                </td>
                <td class="px-6 py-4">
                    Rp. {{ transaction.product.price|intcomma}}
                </td>
                <td class="px-6 py-4">
                    {{ transaction.sheet}}
                </td>
                <td class="px-6 py-4">
                    {{ transaction.created_at}}
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

</div>

{% endblock content %}